.card-container
    width:350px  
    height:70px
    max-width:350px  
    max-height:70px
    border-radius: 60px 
.card-container-holder
    height:70px
    max-height: 70px !important
    align-items: center
    justify-content: center  
    max-width: 350px !important
    display: flex 
.card-sign-holder
    display: flex  
    width:62px
    height:62px
    position: relative
    align-items: center
    justify-content: center
.card-spinner
    position: absolute
    top:0px
    left:0px 
    width:62px
    height:62px 
    display: flex
:host ::ng-deep .card-spinner circle   
    stroke: #0086f3
    stroke-linecap: round !important 
:host ::ng-deep .card-sign-holder .card-spinner-red circle   
    stroke: #ff0000
    animation: blinker 1s linear infinite
    stroke-linecap: round !important 
:host ::ng-deep .card-sign-holder .card-spinner-blue circle   
    stroke: #0086f3
    stroke-linecap: round !important    
@keyframes blinker 
  50% 
    opacity: 0
.card-name-time-holder 
    width:140px
    height:70px
.card-name   
    flex: 1 auto
    height:48px 
    width:140px
    line-height: 22px
    overflow: hidden
    font-size: 22px
    text-align: center
    color: #6e6e6e 
    word-wrap: break-word 
    align-items: center
    justify-content: center 
.card-time  
    height:22px 
    flex: 1 auto
    display: flex 
    color: #6e6e6e 
    align-items: center
    justify-content: center
.card-divider-holder 
    display: inline-block
    height: 46px
    border-radius: 10px
    width: 1px
    background-color: #cccccc
.card-location-comment-holder
    width:141px
    height:70px

.card-location-holder
    height:48px 
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden 
.card-location
    z-index: 1
    width: 134px
    height:22px 
    font-size: 16px 
    color: #6e6e6e 
    word-wrap: break-word  
    line-height: 14px 
    text-align: center
.card-comment 
    height:26px 
    padding: 0px 
    
.card-comment-button    
    word-break: break-all
    font-size:16px
    letter-spacing: 0px !important
    padding: 0px !important
    overflow: hidden
    line-height: 12px
    width: 136px 
    text-align: center
    height:26px  
    border-top-right-radius: 0px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 100px  
    color: #0073c0  
    ::ng-deep .mat-icon
        font-size: 14px !important
        color: #cacaca 
.card-status-sign
    width:58px
    height:58px
    border-radius: 60px  
    text-align: center
    line-height: 40px
    
.sign-text
    font-size: 26px 

.card-sign-holder .is-in 
    background-color: #00b8d8
    color: #353535
.card-sign-holder .is-out 
    background-color: #2ed652
    color: #353535
.card-sign-holder .is-home 
    background-color: #fffb0b
    color: #353535
.card-sign-holder .is-leave 
    background-color: #ee1c1c
    color: #ffffff

