.card-container
    width:350px  
    height:70px
    border-radius: 60px
 
.card-container-holder
    //border: 1px solid red
    height:70px
    max-height: 70px !important
    align-items: center
    justify-content: center  
    max-width: 350px !important
    display: flex 
.card-symbol-holder
    //border:1px solid blue
    display: inline-block    
    width:44px
    height:44px
.card-name-time-holder
    //border:1px solid green 
    width:140px
    height:70px
.card-name-holder
    height:48px 
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
.card-name 
    line-height: 23px
    font-size: 24px
    text-align: center
    color: #6e6e6e 
    word-wrap: break-word 
    align-items: center
    justify-content: center  
.card-time 
    //border:1px solid red
    height:12px 
    display: flex 
    color: #6e6e6e 
    align-items: center
    justify-content: center
.card-divider-holder 
    display: inline-block
    height: 46px
    border-radius: 10px
    width: 1px
    background-color: #cccccc
.card-location-comment-holder
    //border:1px solid yellow
    display: inline-block
    width:135px
    height:70px

.card-location-holder
    height:48px 
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden 
.card-location
    //border:1px solid blue 
    line-height: 16px
    font-size: 16px
    text-align: center
    color: #6e6e6e 
    word-wrap: break-word 
    align-items: center
    justify-content: center  
.card-comment
    //border:1px solid red
    height:12px 
    display: flex
    color: #6e6e6e 
    align-items: center
    justify-content: center

.card-status-sign
    width:42px
    height:42px
    //border:1px solid pink
    border-radius: 25px  
    overflow: hidden
    text-align: center
    line-height: 40px
    
.sign-text
    font-size: 26px 

.card-symbol-holder .is-in 
    background-color: #00b8d8
    color: #353535
.card-symbol-holder .is-out 
    background-color: #2ed652
    color: #353535
.card-symbol-holder .is-home 
    background-color: #fffb0b
    color: #353535
.card-symbol-holder .is-leave 
    background-color: #ee1c1c
    color: #ffffff

