.view-boardnavi 
    margin: 0px 0px 2px 0px 
    height:70px
    display: flex 
    background-color: #ffffff

.main-bulletin-container
    margin: 0px 10px 10px 10px
    padding: 10px
    height:92%
    display: flex
    overflow: auto

.per-emp-card 
    width: 350px
    height: 70px
    margin: 2px 0px 5px 0px
    
.card-area-view   
    column-gap: 4px