<div
  class="view-boardnavi-container"
  fxLayoutAlign="center"
  fxLayout="row wrap"
>
  <div class="page-navi">
    <app-c-view-board-navi
      [InputMaxCount]="empMaxCount$ | async"
      [InputPageView]="pagecountview"
      [InputPageNum]="pagenum"
      (OutPageSelect)="getPageNum($event)"
    ></app-c-view-board-navi>
  </div>
  <span class="spacer"></span>

  <mat-toolbar
    class="search-block mat-elevation-z4"
    [class.active]="toggleSearch"
  >
    <mat-toolbar-row class="toolbar-row">
      <button
        class="search-icon"
        mat-icon-button
        aria-label="close"
        matTooltip="閉じる"
        (click)="searchClose(); searchStart = false"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-form-field 
        class="search-control"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          placeholder="名: 太陽　太郎"
          [(ngModel)]="searchValue"
          #searchbar
          (keydown.enter)="
            reInitializeBoardFromList(false, null); searchStart = true
          "
          maxlength="40"
        />
        <button
          matSuffix
          mat-icon-button
          (click)="reInitializeBoardFromList(false, null); searchStart = true"
        >
          <mat-icon> search </mat-icon>
        </button>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="droplist-container" fxLayoutAlign="end center">
    <button class="search-button" mat-flat-button (click)="openSearch()">
      <mat-icon>search</mat-icon>
      検索
    </button>
    <button class="search-button" mat-flat-button [matMenuTriggerFor]="sort">
      <mat-icon>sort</mat-icon>
      並べ替え
    </button>
    <mat-menu #sort="matMenu" xPosition="before" class="sortmenu-display">
      <button mat-menu-item (click)="sortCard(1)">
        <mat-icon>arrow_drop_up</mat-icon>
        <span>昇順</span>
      </button>
      <button mat-menu-item (click)="sortCard(2)">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>降順</span>
      </button>
      <button mat-menu-item (click)="sortCard(0)">
        <mat-icon>list_alt</mat-icon>
        <span>デフォルト</span>
      </button>
    </mat-menu>
    <button
      mat-flat-button
      class="filter-button"
      [matMenuTriggerFor]="filterMenu"
      #filterMenuTrigger="matMenuTrigger"
    >
      フィルター<mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu
      #filterMenu="matMenu"
      xPosition="before"
      class="filtermenu-display"
      openMenu="true"
    >
      <div
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        class="filter-menu-container"
        fxLayout="row wrap"
        fxLayoutAlign="center"
      >
        <mat-form-field class="drop-down-filter" subscriptSizing="dynamic">
          <mat-label>所属エリア名</mat-label>
          <mat-select
            panelClass="area-select"
            [(value)]="selectedArea"
            (selectionChange)="reInitializeBoardFromList(true, $event)"
            name="area"
          >
            <mat-option [value]="null">ー</mat-option>
            <mat-option
              *ngFor="let list of areaList$ | async"
              [value]="list.areaID"
            >
              {{ list.areaDesc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="drop-down-filter" subscriptSizing="dynamic">
          <mat-label>号棟</mat-label>
          <mat-select
            panelClass="bldg-select"
            [(value)]="selectedLocation"
            (selectionChange)="reInitializeBoardFromList(false, $event)"
            name="loc"
          >
            <mat-option [value]="null">ー</mat-option>
            <mat-option
              *ngFor="let list of locationList$ | async"
              [value]="list.locID"
            >
              {{ list.buildloc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="drop-down-filter" subscriptSizing="dynamic">
          <mat-label>班</mat-label>
          <mat-select
            panelClass="team-select"
            [(value)]="selectedTeam"
            (selectionChange)="reInitializeBoardFromList(false, $event)"
            name="team"
          >
            <mat-option [value]="null">ー</mat-option>
            <mat-option
              *ngFor="let list of teamList$ | async"
              [value]="list.teamID"
            >
              {{ list.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="drop-down-filter" subscriptSizing="dynamic">
          <mat-label>役職</mat-label>
          <mat-select
            panelClass="position-select"
            [(value)]="selectedPosition"
            (selectionChange)="reInitializeBoardFromList(false, $event)"
            name="pos"
          >
            <mat-option [value]="null">ー</mat-option>
            <mat-option
              *ngFor="let list of positionList$ | async"
              [value]="list.posID"
            >
              {{ list.posName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="drop-down-filter" subscriptSizing="dynamic">
          <mat-label>区分G</mat-label>
          <mat-select
            panelClass="position-select"
            [(value)]="selectedDivision"
            (selectionChange)="reInitializeBoardFromList(false, $event)"
            name="pos"
          >
            <mat-option [value]="null">ー</mat-option>
            <mat-option
              *ngFor="let list of divisionList$ | async"
              [value]="list.divID"
            >
              {{ list.divName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-menu-closebutton-container" fxLayoutAlign="center">
        <button color="primary" class="filter-menu-closebutton" mat-flat-button>
          閉じる
        </button>
      </div>
    </mat-menu>
    <button mat-flat-button class="clear-button" (click)="selectOptionClear()">
      <mat-icon>autorenew</mat-icon>
      リセット
    </button>
  </div>
</div>
<div
  class="mat-elevation-z0 employee-ratio-container"
  fxLayoutAlign="center"
  fxLayout="row wrap"
>
  <div>
    <span class="area-display" *ngIf="!searchStart"
      >所属エリア: <b>{{ selectedAreaText }}</b></span
    >
    <span class="area-percent-display"
      >在室率: <b>{{ viewboardStatusRatio?.currentPercent }}</b></span
    >
    <span class="area-currentin-display"
      >在室人数:
      <b
        >{{ viewboardStatusRatio?.currentWorkerCount }}/{{
          viewboardStatusRatio?.totalWorkerCount
        }}</b
      ></span
    >
  </div>
</div>
<div class="board-view-main-container i" [ngClass]="lineGraphStyle()">
  <div class="mat-elevation-z0 main-bulletin-container" fxLayout="column">
    <div class="card-area-view" fxLayout="row wrap" fxLayoutAlign="center">
      <div
        class="per-emp-card"
        *ngFor="let data of empRealTime; let i = index; trackBy: trackCardIndex"
      >
        <app-c-employee-card [empData]="data"></app-c-employee-card>
      </div>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center"
      class="data-not-found-msg"
      *ngIf="!empRealTime || empRealTime.length === 0"
    >
      <h3>データがありません。</h3>
    </div>
    <div
      class="card-area-view"
      fxLayout="row wrap"
      *ngIf="!empRealTime || empRealTime.length === 0"
      fxLayoutAlign="center"
    >
      <div
        class="per-emp-card"
        *ngFor="let data of skeletonLoader; trackBy: trackCardIndex"
      >
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="loaderStyle"
          animation="progress"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>

<mat-expansion-panel
  (opened)="openGraph = true;lineGraphState()"
  (closed)="openGraph = false;lineGraphState()"
  class="mat-elevation-z5 graph-expansion-container"
  [expanded]="openGraph"
>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-chart-title"
      ><mat-icon> show_chart</mat-icon>
      <b>在室率推移</b>
    </mat-panel-title>
    <mat-panel-description>
      ※グラフを表示するには「所属エリア名」,「号棟」,
      「班」でフィルタリングしてください。
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="(perAreaGraphData$ | async) === undefined" class="graph-loading">
    <ngx-skeleton-loader
      count="4"
      appearance="line"
      [theme]="lineChart"
      animation="progress"
    ></ngx-skeleton-loader>
  </div>
  <app-c-perarea-graph
    *ngIf="perAreaGraphData$"
    [rawData]="perAreaGraphData$ | async"
  ></app-c-perarea-graph>
</mat-expansion-panel>
