.view-boardnavi-container  
    display: flex 
    background-color: #ffffff 
.employee-ratio-container
    margin: 0px 0px 2px 0px  
    display: flex 
    background-color: #ffffff 
    padding:5px
.page-navi 
    max-width: 590px
    min-width: 590px
    height: 60px   
.droplist-container  
    flex: 1  
    column-gap: 10px 
    padding-right:20px
    min-width: 600px  
    height: 60px 
.main-bulletin-container
    margin: 0px 10px 10px 10px
    padding: 10px
    height:90%
    display: flex
    overflow: auto

.per-emp-card 
    width: 350px
    height: 70px
    margin: 2px 0px 5px 0px
    
.card-area-view   
    column-gap: 4px 
    border-radius: 20px !important

 
.droplist-container  mat-form-field
    width:150px !important 
    height: 20px !important  


.area-select mat-option
  color: red !important
  font-size: 12px !important  
  border-radius: 30px !important  
 
.bldg-select mat-option
  font-size: 12px !important  
  border-radius: 30px !important  

.team-select mat-option
  font-size: 12px !important  
  border-radius: 30px !important  

.clear-button-container
    height:57px 
.clear-button
    background-color: #0077e6 !important
    color: #ffffff !important
.order-button-container
    height:57px 
.order-button
    background-color: #00bb09 !important
    color: #ffffff !important
.data-not-found-msg
    height:30px 
    color: #474747
    margin-bottom: 5px
    border-radius: 20px
    background-color: #f7d203
.area-display
    font-size: 16px
    padding-right: 10px
    padding-left:10px
.area-percent-display
    font-size: 16px
    padding-right: 10px
    padding-left:10px
.area-currentin-display
    font-size: 16px
    padding-right: 10px
    padding-left:10px