.board-view-main-container
    background-color: #ffffff
    overflow-y: auto
    scroll-behavior: smooth
    height: calc(100% - 141px)

.graph-expansion-container
    max-height: 230px
.graph-loading
    height: 180px
.board-view-main-container::-webkit-scrollbar
    -webkit-appearance: none
    width: 7px
.board-view-main-container::-webkit-scrollbar-track
    border-radius: 10px
    background: rgba(0,0,0,0.1)

.board-view-main-container::-webkit-scrollbar-thumb
    -webkit-appearance: true
    border-radius: 10px
    background: rgba(0,0,0,0.2)

.board-view-main-container::-webkit-scrollbar-thumb:hover
    background: rgba(0,0,0,0.4)

.board-view-main-container::-webkit-scrollbar-thumb:active
    background: rgba(0,0,0,0.9)
.view-boardnavi-container
    display: flex
    border-bottom: 1px solid #dbdbdb
.employee-ratio-container
    height: 70px
    width: 100%
    flex: 1
    background-color: #ffffff
.page-navi
    padding-top: 10px
    max-width: 630px
    min-width: 630px
    height: 60px
.droplist-container
    padding-right: 14px
    min-width: 300px
    column-gap: 10px
.main-bulletin-container
    margin: 0px 10px 10px 10px
    padding: 10px
    display: flex
.spacer
    flex: 1
.per-emp-card
    width: 350px
    height: 70px
    margin: 2px 0px 5px 0px

.card-area-view
    column-gap: 4px
    border-radius: 20px !important
.area-select mat-option
    color: red !important
    font-size: 12px !important
    border-radius: 30px !important

.bldg-select mat-option
    font-size: 12px !important
    border-radius: 30px !important

.team-select mat-option
    font-size: 12px !important
    border-radius: 30px !important
.position-select
    font-size: 12px !important
    border-radius: 30px !important
.panel-chart-title
    color: #727272 !important

.clear-button-2 //unused! but for reference
    background-color: #0073c0
    color: #ffffff
    width: 40px !important
    height: 40px !important
    padding: 0px !important
    display: inline-flex !important
    align-items: center
    justify-content: center
    & > *[role=img]
        width: 24px
        height: 24px
        font-size: 24px
        svg
            width: 24px
            height: 24px
    ::ng-deep .mat-mdc-button-touch-target
        width: 40px !important
        height: 40px !important

.drop-down-filter
    font-size: 18px !important
    width: 270px
    margin-bottom: 8px
    ::ng-deep .mat-mdc-form-field-flex
        height: 40px !important
    ::ng-deep .mdc-floating-label
        padding-bottom: 20px !important
    ::ng-deep .mat-mdc-form-field-infix
        padding: 0.4em 0px !important
        height: 40px !important
.reset-button
    background-color: #ffffff
    width: 130px
    font-weight: bold
    color: #5c5c5c
    border: 1px solid #d8d8d8
.filter-button
    background-color: #ffffff
    border: 1px solid #d8d8d8
    width: 140px
    font-weight: bold
    color: #5c5c5c
.search-button
    background-color: #ffffff
    border: 1px solid #d8d8d8
    width: 140px
    font-weight: bold
    color: #5c5c5c
.sort-button
    background-color: #ffffff
    border: 1px solid #d8d8d8
    width: 140px
    font-weight: bold
    color: #5c5c5c
.filter-menu-container
    padding: 10px 0px 0px 0px
    margin-bottom: 10px

::ng-deep .sortmenu-display.mat-mdc-menu-panel
    margin-top: 6px !important
    border-radius: 14px !important
    .mat-mdc-menu-content
        height: 145px !important

.filter-menu-closebutton-container
    padding: 10px 14px 0px 14px
.filter-menu-closebutton
    background-color: #0073c0
    color: #ffffff
    width: 130px
.order-button-container
    height: 57px
.order-button
    background-color: #00bb09 !important
    color: #ffffff !important
.data-not-found-msg
    height: 30px
    color: #474747
    margin-bottom: 5px
    border-radius: 20px
    background-color: #f7d203

.expansion-panel-graph
    height: 400px

.searchbar-container
    width: 300px
    position: relative
    border: 1px solid red
header
    position: fixed
    top: 50
    z-index: 11
    transition: all 250ms ease-in-out
    border-top-left-radius: 6px
    border-bottom-left-radius: 6px
.toolbar-row
    padding: 0px 5px
.main-header
    @extend header
    &.hidden
        opacity: 0

.search-block
    width: 0%
    right: 0
    z-index: 10000 !important
    @extend header
    background: #fff
    &.active
        width: 605px
    .search-control
        flex: 1

.sidebar-container
    width: 300px
    z-index: 10000 !important
.http-loader-zindex
    z-index: 10001 !important
.sidebar-filtercondition
    padding: 6px
    border-top: 1px solid #cccccc
    padding-left: 16px
    font-weight: bold
    color: #474747
    font-size: 16px
.sidebar-title
    background-color: #0073c0
    flex: 1 auto
    padding-left: 20px
    padding-bottom: 4px
    height: 40px
    h2
        color: #ffffff
        font-weight: bold
    mat-icon
        color: #ffffff
        padding-top: 4px
        padding-right: 10px
