<mat-card class="main-dashboard-container">
  <div class="dashboard-toolbar"    fxLayout="row wrap">
    <div class="dashboard-toolbar-title" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-icon>dashboard</mat-icon>ダッシュボード
    </div>
    <span class="spacer"></span>
    <form [formGroup]="groupSelect"  (keydown.enter)="$event.preventDefault()">
    <mat-form-field class="date-picker" subscriptSizing="dynamic" appearance="outline">
      <mat-label>日付</mat-label>
      <input class="date-field" formControlName="selectedDate" matInput readonly (dateChange)="getSelectedDate()" [matDatepicker]="picker"> 
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  </div>
  <div
    *ngIf="$totalAreaData | async"
    class="mat-elevation-z0 dashboard-areavalue-container"
  >
    <div
      class="mat-elevation-z0 dashboard-areavalue"
      *ngFor="
        let x of ($totalAreaData | async)!?.TotalArea;
        let i = index;
        trackBy: trackArea
      "
      fxLayout="row wrap"
      fxLayoutAlign="center"
    >
      <mat-card class="areavalue-box box-areain">
        <div class="box-area-container-top">在室人数</div>
        <div class="box-area-left-right-container" fxLayout="row wrap">
          <div class="box-area-container-left" fxLayoutAlign="center center">
            {{ x.workerIn }}
          </div>
          <div class="box-area-container-right-areain" fxLayoutAlign="end">
            <mat-icon> bar_chart</mat-icon>
          </div>
        </div>
      </mat-card>
      <mat-card class="areavalue-box box-totalworker">
        <div class="box-area-container-top">出社人数</div>
        <div class="box-area-left-right-container" fxLayout="row wrap">
          <div class="box-area-container-left" fxLayoutAlign="center center">
            {{ x.total }}
          </div>
          <div class="box-area-container-right-totalworker" fxLayoutAlign="end">
            <mat-icon> bar_chart</mat-icon>
          </div>
        </div>
      </mat-card>
      <mat-card class="areavalue-box box-percent">
        <div class="box-area-container-top">在室率</div>
        <div class="box-area-left-right-container" fxLayout="row wrap">
          <div class="box-area-container-left" fxLayoutAlign="center center">
            {{ x.percent }}%
          </div>
          <div class="box-area-container-right-percent" fxLayoutAlign="end">
            <mat-icon> bar_chart</mat-icon>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div
    *ngIf="!($totalAreaData | async)"
    class="mat-elevation-z0 skeleton-box dashboard-areavalue-container"
    fxLayout="row wrap"
    fxLayoutAlign="center"
  >
    <ngx-skeleton-loader
      class="areavalue-box skeleton-box"
      count="1"
      appearance="line"
      [theme]="skeletonStyle"
      animation="progress"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      class="areavalue-box skeleton-box"
      count="1"
      appearance="line"
      [theme]="skeletonStyle"
      animation="progress"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      class="areavalue-box skeleton-box"
      count="1"
      appearance="line"
      [theme]="skeletonStyle"
      animation="progress"
    ></ngx-skeleton-loader>
  </div>
  <mat-card class="dashboard-content" fxLayout="col wrap">
    <mat-card class="table-container">
      <div class="table-loader" *ngIf="($totalAreaData |async) === null">
        <ngx-skeleton-loader 
        count="20"
        appearance="line"
        [theme]="skeletonTableStyle"
        animation="progress"
      ></ngx-skeleton-loader>
      </div>
      <app-c-areatotal-table *ngIf="($totalAreaData |async)" [DataSource]="$totalAreaData"></app-c-areatotal-table>
    </mat-card>
    <mat-card class="piechart-container" fxLayoutAlign="center"> 
      <div *ngIf="($totalAreaData |async) === null" class="piechart-loader"  >
        <ngx-skeleton-loader 
        count="1"
        appearance="line"
        [theme]="skeletonTableStyle"
        animation="progress"
      ></ngx-skeleton-loader>
        <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="skeletonPieStyle"
        animation="progress"
      ></ngx-skeleton-loader>
      </div>
     
    <app-c-areapie-graph *ngIf="($totalAreaData |async)" [DataSource]="$totalAreaData"></app-c-areapie-graph> 
    </mat-card>
  </mat-card>
</mat-card>
