.main-dashboard-container::-webkit-scrollbar
    -webkit-appearance: none
    width: 7px
.main-dashboard-container::-webkit-scrollbar-track
    border-radius: 10px
    background: rgba(0,0,0,0.1)
 
.main-dashboard-container::-webkit-scrollbar-thumb
    -webkit-appearance: true
    border-radius: 10px
    background: rgba(0,0,0,0.2)

.main-dashboard-container::-webkit-scrollbar-thumb:hover
    background: rgba(0,0,0,0.4)

.main-dashboard-container::-webkit-scrollbar-thumb:active
    background: rgba(0,0,0,0.9)   
.main-dashboard-container
    height: 100%
    border-radius: 0px
    overflow: auto
.dashboard-toolbar   
    padding: 6px
    height: 40px
    display: inline-block
    background-color: #0073c0
.dashboard-areavalue-container
    background-color: #0073c0
    padding: 0px 12px 12px 12px
.dashboard-areavalue
    padding-top: 0px
    padding: 0px
    padding-bottom: 0px
    column-gap: 50px 
    width: 100%
.dashboard-content  
    padding: 6px 
    height: 100%
    border-radius: 0px
    display: inline-block   
.areavalue-box
    min-width: 200px 
    flex: 1 
.box-area-container-top
    height:18px 
    padding: 4px 
    padding-left: 20px
    color: #636363
    font-weight: bold
    font-size: 12px !important
.box-area-left-right-container
    height: 54px
.box-area-container-left  
    flex:1
    height: 100% !important
    padding: 4px 
    font-size: 50px
    font-weight: bold
    color: #585858
.box-area-container-right-areain 
    width:40px   
    color: #00b8d8
    font-size: 30px !important  
.box-area-container-right-totalworker 
    width:40px  
    color: #00b8d8
    font-size: 30px !important 
.box-area-container-right-percent
    width:40px  
    color: #00b8d8
    font-size: 30px !important 
.mat-icon
    font-size: 40px !important
    width:100px !important
    height: 40px !important
.box-areain
    border-bottom:4px solid #00b8d8
.box-totalworker
    border-bottom:4px solid #00b8d8
.box-percent
    border-bottom:4px solid #00b8d8
.skeleton-box
   padding: 0px
   height: 86px
   column-gap: 50px
   padding: 0px 12px 12px 12px
    