<div
  class="stat-card-container"
  fxLayoutAlign="center center"
  fxLayout="row wrap"
>
  <div class="stat-card">
    <div class="stat-card-title">出勤人数</div>
    <div
      class="stat-card-progress-container"
      fxLayoutAlign="center"
      fxLayout="row wrap"
    >
      <div
        class="stat-card-text-container stat-card-largetext"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        {{ InputTableTotal ? InputTableTotal![0].workerInTotal : "ー" }}
      </div>
    </div>
  </div>
  <div class="stat-card">
    <div class="stat-card-title">出勤予定人数</div>
    <div
      class="stat-card-progress-container"
      fxLayoutAlign="center"
      fxLayout="row wrap"
    >
      <div
        class="stat-card-progress-value"
        [ngClass]="percentLoadColor()"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        <mat-progress-spinner
          diameter="30"
          mode="determinate"
          class="current-progress"
          strokeWidth="6"
          [value]="progressValue"
        ></mat-progress-spinner>
        <mat-progress-spinner
          diameter="30"
          class="full-progress"
          mode="determinate"
          strokeWidth="6"
          value="100"
        ></mat-progress-spinner>
      </div>
      <div
        class="stat-card-text-container stat-card-largetext"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        {{ InputTableTotal ? InputTableTotal![0].workerAllTotal : "ー" }}
      </div>
    </div>
  </div>
  <div class="stat-card">
    <div class="stat-card-title">出勤率</div>
    <div
      class="stat-card-progress-container"
      fxLayoutAlign="center"
      fxLayout="row wrap"
      [ngClass]="percentLoadColor()"
    >
      <div
        class="stat-card-progress-value"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        <mat-progress-spinner
          diameter="30"
          mode="determinate"
          class="current-progress"
          strokeWidth="6"
          [value]="progressValue"
        ></mat-progress-spinner>
        <mat-progress-spinner
          diameter="30"
          class="full-progress"
          mode="determinate"
          strokeWidth="6"
          value="100"
        ></mat-progress-spinner>
      </div>
      <div
        class="stat-card-text-container stat-card-largetext"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        {{ InputTableTotal ? InputTableTotal![0].workerInPercent + "%" : "ー" }}
      </div>
    </div>
  </div>
  <div class="stat-card">
    <div class="stat-card-title">出勤班</div>
    <div
      class="stat-card-progress-container"
      fxLayoutAlign="center"
      fxLayout="row wrap"
    >
      <div
        class="stat-card-text-container stat-card-team-font"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        {{
          InputTableTotal
            ? InputTableTotal[0].totalTeamName === null
              ? "ー"
              : InputTableTotal[0].totalTeamName
            : "ー"
        }}
      </div>
    </div>
  </div>
</div>
