<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="main-toolbar">
    <!-- <app-c-burger (click)="snav.toggle()"></app-c-burger>  -->
    <button class="app-name" routerLink="/main" mat-button>
      位置確認リアルタイムシステム
    </button>

    <app-c-burger fxShow="true" fxHide.gt-xs></app-c-burger>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-sm>
      <button
        routerLink="/main"
        routerLinkActive="toolbar-menu-buttons-activelink"
        matTooltip="表形式データ"
        class="toolbar-menu-buttons"
        mat-flat-button
      >
        <mat-icon>dashboard</mat-icon>在室率確認
      </button>
      <button
        routerLink="/boardview"
        routerLinkActive="toolbar-menu-buttons-activelink"
        class="toolbar-menu-buttons"
        mat-flat-button
        matTooltip="エリア毎"
      >
        <mat-icon>table_chart</mat-icon>
        位置確認
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    hasBackdrop="true"
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      (closed)="retriggerBurger()"
      mode="over"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
 
    </mat-sidenav>

    <mat-sidenav-content class="side-nav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer" fxLayout="row wrap" fxLayoutAlign="center center">
    Taiyo Yuden Co. Ltd © {{ yearNow }}
  </div>
</div>
